<thead><tr class="scoreheader"><th title="rank" scope="col">rank</th><th title="team name" scope="col" colspan="3">team</th><th title="# solved / penalty time" colspan="2" scope="col">score</th>
@foreach (var prob in Board.Services.DataService.Instance.Problems){<th title="problem @prob.name" scope="col">@prob.short_name <div class="circle" style="background: @prob.rgb;"></div></th>}
</tr></thead>