<div data-ajax-refresh-target data-ajax-refresh-after="initializeScoreboard" class="mt-3">
    <partial name="_Card" />

    <br />
    <br />

    <div class="card-deck">
        @foreach (var grp in DataService.Instance.Groups)
        {

            <div class="card" style="font-family: Roboto, sans-serif;">
                <div class="card-header">@grp.Value.name</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        @foreach (var aff in DataService.Instance.Teams.Where(p => p.Value.group_ids[0] == grp.Value.id).Select(p => p.Value.affiliation).Distinct())
                        {
                            <li class="list-group-item">@aff</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
    <p id="lastmod">
        Last Update: @string.Format("{0:R}", DataService.Instance.LastUpdate).Replace("GMT", "CST")<br />
        using <a href="https://www.domjudge.org/" target="_top">DOMjudge</a>
    </p>
</div>

@section Scripts {

    <script>
        var domjudge_base_url = "/";
        $(function () {
            $('body').on('change', '.custom-file-input', function () {
                var files = this.files;
                var fileNames = [];
                for (var i = 0; i < files.length; i++) {
                    fileNames.push(files.item(i).name);
                }
                $(this).next('.custom-file-label').html(fileNames.join(", "));
                $(this).next('.custom-file-label').removeClass('text-muted');
            });

            /* toggle refresh if set */
            $('#refresh-navitem').on('click', function () {
                toggleRefresh('/@Html.Raw(ViewData["CurrentQuery"])', 30, 1);
            });
            /* Enable page refresh if set if wanted by the page, and wanted by the user */
            enableRefresh('/@Html.Raw(ViewData["CurrentQuery"])', 30, 1);

            initializeAjaxModals();
        });
    </script>
    <script>
        initFavouriteTeams();

        var scoreboardUrl = '/';

        $(function () {
            window.initializeScoreboard = function () {
                var $newProgress = $('[data-ajax-refresh-target] > .d-none > [data-progress-bar]');
                if ($newProgress.length) {
                    var $oldProgress = $('body > [data-progress-bar]');
                    $oldProgress.html($newProgress.children());
                    $newProgress.parent().remove();
                }

                initFavouriteTeams();
            };
        });
    </script>
}